/**
 * Note that this reset handles only the very basic HTML elements
 * in favour of BEM within components setting purposeful styles.
 **/

html, body, iframe {
	padding: 0;
	margin: 0;
	border: none;
	font-size: 16px;
}
html * {
	box-sizing: border-box;
}

// I follow a bottom-only margin policy where possible
h1, h2, h3, h4, h5, h6,
p {
	margin: 0 0 15px 0;
}

// Vue's @click.prevent removes the default pointer
a {
  cursor: pointer;
  &[disabled=true] {
    cursor: not-allowed;
  }
}

@mixin reset-list() {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
