/**
 * Color palette
 */
$color__base: #0d070e;
$color__base--reverse: white;
$color__text-base: white;
$color__text-base--reverse: #0d070e;

$color__base--green: #AED581;
$color__base--red: #dc4946;
$color__base--blue: #31b9f7;
$color__base--yellow: #fff176;

/**
 * Consistent padding
 **/
$pad__body--desktop: 10px 20px 50px 20px;
$pad__grid-gap--desktop: 30px;
$pad__grid-gap--device: 15px;
$pad__box--desktop: 15px;
$pad__box--device: 10px;

/**
 * Typography
 **/
$font__size--h1: 2em;
$font__size--h2: 1.8em;
$font__size--h3: 1.5em;
$font__size--h4: 1.4em;
$font__size--h5: 1.2em;
$font__size--h6: 1.0em;
$font__size--smallest: 0.6em;
$font__size--small: 0.7em;
$font__size--medium: 0.9em;
$font__size--large: 1.1em;
$font__size--largest: 1.4em;

$font__line-height--smallest: $font__size--smallest + 0.4em;
$font__line-height--small: $font__size--small + 0.4em;
$font__line-height--medium: $font__size--medium + 0.4em;
$font__line-height--large: $font__size--large + 0.4em;

$font__line-height--h1: $font__size--h1 - 0.4em;
$font__line-height--h2: $font__size--h2 - 0.4em;
$font__line-height--h3: $font__size--h3 - 0.4em;
$font__line-height--h4: $font__size--h4 - 0.4em;
$font__line-height--h5: $font__size--h5 - 0.4em;
$font__line-height--h6: $font__size--h6 - 0.4em;

/**
 * z-index management
 **/
$z-index--modal: 1000;
$z-index--image-viewer: 2000;

/**
 * Debugging
 **/
$debug_border--layout: #777;
